Repository otyagi/GNNTrackFinder-gpu, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @a.andronic, @k.piasecki, @se.gorbunov, @v.friese, @s.zharko, @d.smith, @fweig, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @dvorar10_AT_fjfi.cvut.cz, @v.singhal, @n.herrmann, @i.deppner, @ma.beyer, @c.muentz, @m.deveaux, @j.stroth

Built experimental_Gnn repo and added first files.
  algo/ca/core/experimental_Gnn/GnnDeviceImage.cxx
  algo/ca/core/experimental_Gnn/GnnDeviceImage.h
Owners: @d.smith, @fweig

Added GnnTimeMonitor, removed xpu device image copy
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental_Gnn/GnnDeviceImage.cxx
  algo/ca/core/experimental_Gnn/GnnDeviceImage.h
  algo/ca/core/experimental_Gnn/GnnGpuTimeMonitor.h
  macro/run/.gitignore
  macro/run/CAdebug.root
  macro/run/FairRunInfo_CAdebug.root
  macro/run/L1_histo_urqmd_mbias.reco.root
  macro/run/L1_perftable_urqmd_mbias.reco.root
  macro/run/L1material.root
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Added Graph Constructor dummy and GNN flag.
  algo/ca/core/CMakeLists.txt
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
  macro/run/CAdebug.root
  macro/run/FairRunInfo_CAdebug.root
  macro/run/L1_histo_urqmd_mbias.reco.root
  macro/run/L1_perftable_urqmd_mbias.reco.root
  macro/run/L1material.root
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

added weights, embed, util and doublet constructor method. Untested.
  NN/embed/embedBiases_11.txt
  NN/embed/embedBiases_13.txt
  NN/embed/embedWeights_11.txt
  NN/embed/embedWeights_13.txt
  algo/ca/core/CMakeLists.txt
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/EmbedNet.cxx
  algo/ca/core/tracking/EmbedNet.h
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
  algo/ca/core/tracking/MLPMath.cxx
  algo/ca/core/tracking/MLPMath.h
  algo/ca/core/tracking/MLPutil.h
  algo/ca/core/utils/CaTrackingMonitor.h
Owners: @d.smith, @fweig

Doublet works. More than 1 event crashes in data read phase.
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
Owners: @d.smith, @fweig

Added triplet construction without fitting. Single event test.
  algo/ca/core/tracking/GraphConstructor.cxx
Owners: @d.smith, @fweig

Added triplet fitting and input, wData access to graph class
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
  algo/ca/core/tracking/CaTrackFitter.cxx
  algo/ca/core/tracking/CaTrackFitter.h
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
Owners: @d.smith, @fweig

added track construction and competition. Still fix multi event performance.
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
Owners: @d.smith, @fweig

Fixed multi-event reconstruction
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/utils/CaTrackingMonitor.h
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Changed gnn gpu tracking setup
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/experimental_Gnn/GnnGpuTimeMonitor.h
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
Owners: @d.smith, @fweig

gpu graph constructor setup
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
Owners: @d.smith, @fweig

Fixed constant set problem. CMake
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/CaGpuTripletConstructor.h
  algo/ca/core/experimental/GnnGpuEmbedNet.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
  algo/ca/core/tracking/EmbedNet.h
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Halfway neighbour searching
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Fixed Doublet creation. Performance matches CPU version of doublets as tracks.
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Name conflict fix
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
Owners: @d.smith, @fweig

Make triplets added and tested. All ok.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Base for triplet fitting. Incomplete.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
Owners: @d.smith, @fweig

Implementing Triplet fitter. fit implementation left for track fitter adapt and kernel definition for grigory fitter
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
Owners: @d.smith, @fweig

Added grigory fitter. Dynamic initialization error in gpu memory.
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/CaGpuParameters.h
  algo/ca/core/experimental/CaGpuStation.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  algo/kf/core/data/KfTrackParam.h
Owners: @d.smith, @fweig

Fixed dynamic mem on gpu. New build error with GpuFitter initialization.
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
Owners: @d.smith, @fweig

Dynamic memory problem fixed. Stuck on extrapolation.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  algo/kf/core/data/KfTrackParam.h
Owners: @d.smith, @fweig

Replaced fitter and KfTrackParam. Still stuck in extrapolate
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  algo/kf/core/data/KfTrackParam.h
Owners: @d.smith, @fweig

Extrapolation fixed. Crashes on event 6
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
Owners: @d.smith, @fweig

Fixed gpu issue. Maybe still some undefined behaviour exists. Not checked fit quality.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
Owners: @d.smith, @fweig

Crash on extrapolation step. 1 thread and 1 block, different events
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
Owners: @d.smith, @fweig

Page fault fixed by turning of misalignment correction. Gpu results slightly worse than cpu but no crash.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Fit Triplet GPU + CPU working verion.
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/GraphConstructor.h
Owners: @d.smith, @fweig

Second iter cpu
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFitter.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
  macro/L1/configs/ca_params_sts.yaml
  macro/run/run_reco.C
  macro/run/urqmd_mbias.reco.ca.par
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

classifier weights
  NN/CandClassifier/CandClassBiases_13.txt
  NN/CandClassifier/CandClassWeights_13.txt
  algo/ca/core/tracking/GraphConstructor.cxx
Owners: @d.smith, @fweig

Broken but with new jump kernels.
  algo/ca/core/CMakeLists.txt
  algo/ca/core/experimental/CaGpuTripletConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFitter.cxx
  algo/ca/core/tracking/CaTrackFitter.h
  algo/ca/core/tracking/CandClassifier.cxx
  algo/ca/core/tracking/CandClassifier.h
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
  algo/ca/core/tracking/MLPMath.h
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Weird bug with low efficiency in second iteration.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/EmbedNet.cxx
  algo/ca/core/tracking/GraphConstructor.cxx
  macro/L1/configs/ca_params_sts.yaml
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

3 iterations working.
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  macro/L1/configs/ca_params_sts.yaml
  macro/run/run_reco.C
  macro/run/urqmd_mbias.reco.ca.par
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

With fast prim fitting with grigory and old fitting for other. No PV check for iter 2 and 3.
  algo/ca/core/experimental/CaGpuField.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/KfGpuTrackKalmanFilter.h
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFitter.cxx
Owners: @d.smith, @fweig

Track competition broken
  algo/ca/core/data/CaHit.h
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Fixed track competition.
  algo/ca/core/experimental/CaGpuTimeMonitor.h
  algo/ca/core/experimental/GnnGpuGraphConstructor.cxx
  algo/ca/core/experimental/GnnGpuGraphConstructor.h
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CandClassifier.cxx
  macro/run/run_reco.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

center tested
  .gitignore
  algo/ca/core/experimental/GnnGpuTrackFinderSetup.cxx
  macro/run/L1_histo_urqmd_centr.reco.root
  macro/run/L1_perftable_urqmd_centr.reco.root
  macro/run/run_reco.C
  macro/run/run_tra_urqmd.C
Owners: @d.smith, @fweig, @f.uhlig, @p.-a.loizeau

Added timers.
  macro/run/L1_histo_urqmd_centr.reco.root
  macro/run/L1_histo_urqmd_pau28.3gev_centr_00001.reco.root
  macro/run/L1_perftable_urqmd_centr.reco.root
  macro/run/L1_perftable_urqmd_pau28.3gev_centr_00001.reco.root
  macro/run/run_reco.C
  macro/run/urqmd_pau28.3gev_centr_00001.reco.ca.par
Owners: @f.uhlig, @p.-a.loizeau

Triplet construction speedup. No atan and prefix array
  algo/ca/core/pars/CaDefs.h
  algo/ca/core/tracking/CaTrackFinderWindow.cxx
  algo/ca/core/tracking/CaTrackFinderWindow.h
  algo/ca/core/tracking/GraphConstructor.cxx
  algo/ca/core/tracking/GraphConstructor.h
  algo/ca/core/utils/CaTrackingMonitor.h
Owners: @d.smith, @fweig

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @a.andronic @k.piasecki
/macro/analysis/ @a.andronic @k.piasecki
/macro/KF/       @se.gorbunov

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov @s.zharko
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig
/core/base/report/ @f.uhlig
/core/base/draw/   @f.uhlig

# Algo
/algo/ @d.smith @fweig

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
#/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @se.gorbunov
/reco/L1/           @se.gorbunov @s.zharko
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @s.zharko

# Analysis
/analysis/                                 @a.andronic @k.piasecki
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @a.andronic @k.piasecki
/analysis/PWGHAD/                          @a.andronic @k.piasecki
/analysis/PWGCHA/                          @a.andronic @k.piasecki
/analysis/PWGDIL/                          @a.andronic @k.piasecki
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @a.andronic @k.piasecki
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @a.andronic @k.piasecki

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler
/algo/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @v.friese
/core/data/psd/          @v.friese
/core/data/test/psd/     @v.friese
/core/detectors/psd/     @v.friese
/macro/psd/              @v.friese
/sim/detectors/psd/      @v.friese
/reco/detectors/psd/     @v.friese

# FSD
/analysis/detectors/fsd/ @dvorar10_AT_fjfi.cvut.cz
/core/data/fsd/          @dvorar10_AT_fjfi.cvut.cz
/core/detectors/fsd/     @dvorar10_AT_fjfi.cvut.cz
/sim/detectors/fsd/      @dvorar10_AT_fjfi.cvut.cz
/reco/detectors/fsd/     @dvorar10_AT_fjfi.cvut.cz

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal
/algo/detectors/much/    @v.singhal
/macro/analysis/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner
/algo/detectors/tof/     @n.herrmann @i.deppner

# RICH
/core/data/rich/      @ma.beyer
/core/data/test/rich/ @ma.beyer
/core/detectors/rich/ @ma.beyer
/macro/rich/          @ma.beyer
/sim/detectors/rich/  @ma.beyer
/reco/detectors/rich/ @ma.beyer
/algo/detectors/rich/ @ma.beyer

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese
/algo/detectors/sts/     @v.friese
/algo/data/sts/          @v.friese

# MVD
/reco/detectors/mvd/     @c.muentz @m.deveaux @j.stroth
/core/detectors/mvd/     @c.muentz @m.deveaux @j.stroth
/core/data/mvd/          @c.muentz @m.deveaux @j.stroth
/analysis/detectors/mvd/ @c.muentz @m.deveaux @j.stroth
/macro/mvd/              @c.muentz @m.deveaux @j.stroth
/sim/detectors/mvd/      @c.muentz @m.deveaux @j.stroth
